@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
   padding: 4.5rem;
   margin: 0;
   background: #edc0bf;
   background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
   font-family: 'Poppins', "Montserrat", "Helvetica", "Open Sans", "Arial";
}

.shape {
   position: absolute;
   width: 150px;
   top: .5rem;
   left: .5rem;
}

.card {
   width: auto;
   height: auto;
   padding: 2rem;
   background: rgba(255, 255, 255, .7);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   border-radius: 1rem;
}

.card-title {
   margin-top: 0;
   margin-bottom: .5rem;
   font-size: 1.2rem;
}

.card_login {
   width: 400px;
   height: 600px;
   padding: 2rem;
   margin-left: auto;
   margin-right: auto;
   background: rgba(000, 125, 125, .7);
   background: linear-gradient(90deg, rgba(000, 125, 255, .7) 0, rgba(125, 125, 255, .7) 58%);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   border-radius: 1rem;
}

.card_body {
   position: absolute;
   width: 90%;
   height: 90%;
   padding: 2rem;
   margin-left: auto;
   margin-right: auto;
   background: rgba(000, 125, 125, .7);
   background: linear-gradient(90deg, rgba(000, 125, 255, .7) 0, rgba(125, 125, 255, .7) 58%);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   border-radius: 1rem;
}

.card_header {
   width: auto;
   height: 1px;
   padding: 1rem;
   margin-bottom: 25px;
   margin-left: auto;
   margin-right: auto;
   background: rgba(000, 125, 125, .7);
   background: linear-gradient(90deg, rgba(000, 125, 255, .7) 0, rgba(125, 125, 255, .7) 58%);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   border-radius: 1rem;
}

.card_footer {
   position: absolute;
   width: 90%;
   height: 10px;
   padding: 1rem;
   margin-top: 25px;
   margin-bottom: 25px;
   margin-left: auto;
   margin-right: auto;
   border-top: 1px solid rgba(000, 125, 125, .7);
   bottom: 0;
   text-align: top;
}


a {
   color: #4d4ae8;
   text-decoration: none;
}

*,
:after,
:before {
   box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
   content: '';
   display: table
}

.clearfix:after {
   clear: both;
   display: block
}

a {
   color: inherit;
   text-decoration: none
}



.hr {
   height: 2px;
   margin: 60px 0 50px 0;
   background: rgba(255, 255, 255, .2);
}

.foot-lnk {
   text-align: center;
}

div.content {
   margin-left: 200px;
   padding: 1px 16px;
   height: 1000px;
}

.form-control-dark {
   color: #fff;
   background-color: rgba(255, 255, 255, .1);
   border-color: rgba(255, 255, 255, .1);
   border-radius: 1rem;

}

.form-control-dark:focus {
   border-color: transparent;
   box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
   border-radius: 1rem;
}

/*
 * Main dashbaord
 */
$light-bg=#777;

.card_dashboard-list {
   @include clear();
   width: 100%;
}

.card_dashboard {
   border-radius: 8px;
   color: black;
   padding: 10px;
   position: relative;
   border: 1px solid $light-bg;
   overflow-x: auto;
   border-radius: 1rem;
   width: 100%;
}

.card_dashboard .zmdi {
   color: black;
   font-size: 28px;
   opacity: 0.3;
   position: absolute;
   right: 13px;
   top: 13px;
}

.card_dashboard .stat {
   border-top: 1px solid rgba(255, 255, 255, 0.3);
   font-size: 10px;
   margin-top: 25px;
   padding: 10px 10px 0;
   text-transform: uppercase;
}

.card_dashboard .title {
   display: inline-block;
   font-size: 14px;
   padding: 10px 10px 0;
   text-transform: uppercase;
}

/*
 * Modal style
 */

.modal-form {
   display: none;
   position: fixed;
   /* Stay in place */
   z-index: 4;
   /* Sit on top */
   padding-top: 100px;
   /* Location of the box */
   left: 0;
   top: 80px;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0);
   /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4);
   /* Black w/ opacity */
   border-radius: 15px;
}

.modal-dialog {
   /* position: fixed;  Stay in place */
   z-index: 4;
   /* Sit on top */
   padding-top: 100px;
   /* Location of the box */
   left: 0;
   top: 0;
   border-radius: 15px;
}

/* Modal Content */
.modal-form-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 65%;
   border-radius: 15px;
}

/* The Close Button */
.modal-form-close {
   margin-top: 10px;
   margin-right: 15px;
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.modal-form-close:hover,
.modal-form-close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}


.dropdown-menu a {
   font-size: 1rem;
}

.dropdown-menu a:hover:not(.active) {
   background: rgba(000, 125, 125, .7);
   background: linear-gradient(90deg, rgba(000, 125, 255, .7) 0, rgba(125, 125, 255, .7) 58%);
   -webkit-backdrop-filter: blur(10px);
   color: black;
}

.listbody {
   width: 100%;
}


/* Employee Form
*/
.profile-button {
   background: rgb(99, 39, 120);
   box-shadow: none;
   border: none
}

.profile-button:hover {
   background: #682773
}

.profile-button:focus {
   background: #682773;
   box-shadow: none
}

.profile-button:active {
   background: #682773;
   box-shadow: none
}

.back:hover {
   color: #682773;
   cursor: pointer
}

.labels {
   font-size: 11px
}

.add-experience:hover {
   background: #BA68C8;
   color: #fff;
   cursor: pointer;
   border: solid 1px #BA68C8
}

#calendar {
   max-width: 1100px;
   margin: 0 auto;
   height: 500px;
   width: 600px;
}

.modal-form-calendar {
   position: fixed;
   /* Stay in place */
   padding-top: 100px;
   /* Location of the box */
   left: 0;
   top: 80px;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Enable scroll if needed */
   border-radius: 15px;
}


textarea {
   resize: none;
}

.leave_box {
   display: none;
   height: 120px;
   width: 180px;
   background: rgba(000, 125, 125, .7);
   background: linear-gradient(90deg, rgba(000, 125, 255, .7) 0, rgba(125, 125, 255, .7) 58%);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 15px;
   font-size: 25px;
}

.leave_box a {
   font-size: 40px;
}

.list-form-content {
   background-color: #fefefe;
   top: 80px;
   margin: auto;
   padding: 20px;

   width: 100%;
   height: 100%;
   border-bottom-right-radius: 15px;
}

.pagination a:hover:not(.active) {
   background-color: #ddd;
}

.thead-dark-hdr {
   background-color: #005086;
   color: white;
}

.navbar {
   background: #fff;
   border: none;
   border-radius: 0;
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)
}

.navbar-btn {
   box-shadow: none;
   outline: none !important;
   border: none
}

.line {
   width: 100%;
   height: 1px;
   border-bottom: 1px dashed #ddd
}

.sidebar-row {
   background: #005086;
   border-bottom-left-radius: 15px;
}

#sidebar {
   min-width: 250px;
   max-width: 250px;
   height: 100%;
   background: #005086;
   color: #fff;
   border-bottom-left-radius: 15px;
   transition: all 0.3s
}

#sidebar.active {
   margin-left: -250px
}

#sidebar .sidebar-header {
   padding: 20px;
   background: #005086
}

#sidebar ul.components {
   padding: 20px 0px;

}

#sidebar ul p {
   padding: 10px;
   font-size: 15px;
   display: block;
   color: #fff
}

#sidebar ul li a {
   padding: 10px;
   font-size: 1.1em;
   display: block;
   background: #005086
}

#sidebar ul li a:hover {
   color: #fff;
   background: #318fb5
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
   color: #fff;
   background: #318fb5
}

#sidebar ul li a[data-toggle="collapse"] {
   position: relative
}

.dropdown-toggle::after {
   display: block;
   position: absolute;
   top: 50%;
   right: 20px;
   transform: translateY(-50%)
}

ul ul a {
   font-size: 0.9em !important;
   padding-left: 30px !important;
   background: #318fb5
}

ul.CTAs {
   padding: 20px
}

ul.CTAs a {
   text-align: center;
   font-size: 0.9em !important;
   display: block;
   border-radius: 5px;
   margin-bottom: 5px
}

a.download,
a.download:hover {
   background: #318fb5;
   color: #fff
}

#content {
   width: 100%;
   padding: 20px;
   min-height: 100vh;
   transition: all 0.3s
}

.content-wrapper {
   padding: 15px
}

@media(maz-width:768px) {
   #sidebar {
      margin-left: -250px
   }

   #sidebar.active {
      margin-left: 0px
   }

   #sidebarCollapse span {
      display: none
   }
}