@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
   padding: 4.5rem;
   margin: 0;
   background: #edc0bf;
   background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
   font-family: 'Poppins', "Montserrat", "Helvetica", "Open Sans", "Arial";
}

.shape {
   position: absolute;
   width: 150px;
   top: .5rem;
   left: .5rem;
}

.card {
   width: auto;
   height: auto;
   padding: 2rem;
   background: rgba(255, 255, 255, .7);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   border-radius: 1rem;
}

.card-title {
   margin-top: 0;
   margin-bottom: .5rem;
   font-size: 1.2rem;
}

.card_login {
   width: 400px;
   height: 600px;
   padding: 2rem;
   margin-left: auto;
   margin-right: auto;
   background: rgba(000, 125, 125, .7);
   background: linear-gradient(90deg, rgba(000, 125, 255, .7) 0, rgba(125, 125, 255, .7) 58%);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   border-radius: 1rem;
}

.card_body {
   position: absolute;
   width: 90%;
   height: 90%;
   padding: 2rem;
   margin-left: auto;
   margin-right: auto;
   background: rgba(000, 125, 125, .7);
   background: linear-gradient(90deg, rgba(000, 125, 255, .7) 0, rgba(125, 125, 255, .7) 58%);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   border-radius: 1rem;
}

.card_header {
   width: auto;
   height: 1px;
   padding: 1rem;
   margin-bottom: 25px;
   margin-left: auto;
   margin-right: auto;
   background: rgba(000, 125, 125, .7);
   background: linear-gradient(90deg, rgba(000, 125, 255, .7) 0, rgba(125, 125, 255, .7) 58%);
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
   border-radius: 1rem;
}

.card_footer {
   position: absolute;
   width: 90%;
   height: 10px;
   padding: 1rem;
   margin-top: 25px;
   margin-bottom: 25px;
   margin-left: auto;
   margin-right: auto;
   border-top: 1px solid rgba(000, 125, 125, .7);
   bottom: 0;
}


a {
   color: #4d4ae8;
   text-decoration: none;
}

*,
:after,
:before {
   box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
   content: '';
   display: table
}

.clearfix:after {
   clear: both;
   display: block
}

a {
   color: inherit;
   text-decoration: none
}



.hr {
   height: 2px;
   margin: 60px 0 50px 0;
   background: rgba(255, 255, 255, .2);
}

.foot-lnk {
   text-align: center;
}

div.content {
   margin-left: 200px;
   padding: 1px 16px;
   height: 1000px;
}

.form-control-dark {
   color: #fff;
   background-color: rgba(255, 255, 255, .1);
   border-color: rgba(255, 255, 255, .1);
   border-radius: 1rem;

}

.form-control-dark:focus {
   border-color: transparent;
   box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
   border-radius: 1rem;
}

/*
 * Main dashbaord
 */

.card_dashboard-list {
   @include clear();
   width: 100%;
}

.card_dashboard {
   border-radius: 8px;
   color: black;
   padding: 10px;
   position: relative;
   overflow-x: auto;
   border-radius: 1rem;
   width: 100%;
}

.card_dashboard .zmdi {
   color: black;
   font-size: 28px;
   opacity: 0.3;
   position: absolute;
   right: 13px;
   top: 13px;
}

.card_dashboard .stat {
   border-top: 1px solid rgba(255, 255, 255, 0.3);
   font-size: 10px;
   margin-top: 25px;
   padding: 10px 10px 0;
   text-transform: uppercase;
}

.card_dashboard .title {
   display: inline-block;
   font-size: 14px;
   padding: 10px 10px 0;
   text-transform: uppercase;
}

/*
 * Modal style
 */

.modal-form {
   display: none;
   position: fixed;
   /* Stay in place */
   z-index: 4;
   /* Sit on top */
   padding-top: 100px;
   /* Location of the box */
   left: 0;
   top: 80px;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Full height */
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0);
   /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4);
   /* Black w/ opacity */
   border-radius: 15px;
}

.modal-dialog {
   /* position: fixed;  Stay in place */
   z-index: 4;
   /* Sit on top */
   padding-top: 100px;
   /* Location of the box */
   left: 0;
   top: 0;
   border-radius: 15px;
}

/* Modal Content */
.modal-form-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   border: 1px solid #888;
   width: 65%;
   border-radius: 15px;
}

/* The Close Button */
.modal-form-close {
   margin-top: 10px;
   margin-right: 15px;
   color: #aaaaaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.modal-form-close:hover,
.modal-form-close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
}


.dropdown-menu a {
   font-size: 1rem;
}

.dropdown-menu a:hover:not(.active) {
   background: rgba(000, 125, 125, .7);
   background: linear-gradient(90deg, rgba(000, 125, 255, .7) 0, rgba(125, 125, 255, .7) 58%);
   -webkit-backdrop-filter: blur(10px);
   color: black;
}

.listbody {
   width: 100%;
}


/* Employee Form
*/
.profile-button {
   background: rgb(99, 39, 120);
   box-shadow: none;
   border: none
}

.profile-button:hover {
   background: #682773
}

.profile-button:focus {
   background: #682773;
   box-shadow: none
}

.profile-button:active {
   background: #682773;
   box-shadow: none
}

.back:hover {
   color: #682773;
   cursor: pointer
}

.labels {
   font-size: 11px
}

.add-experience:hover {
   background: #BA68C8;
   color: #fff;
   cursor: pointer;
   border: solid 1px #BA68C8
}

#calendar {
   max-width: 1100px;
   margin: 0 auto;
   height: 500px;
   width: 600px;
}

.modal-form-calendar {
   position: fixed;
   /* Stay in place */
   padding-top: 100px;
   /* Location of the box */
   left: 0;
   top: 80px;
   width: 100%;
   /* Full width */
   height: 100%;
   /* Enable scroll if needed */
   border-radius: 15px;
}


textarea {
   resize: none;
}

.leave_box {
   display: none;
   height: 120px;
   width: 180px;
   background: rgba(000, 125, 125, .7);
   background: linear-gradient(90deg, rgba(000, 125, 255, .7) 0, rgba(125, 125, 255, .7) 58%);
   -webkit-backdrop-filter: blur(10px);
   border-radius: 15px;
   font-size: 25px;
}

.leave_box a {
   font-size: 40px;
}

.list-form-content {
   background-color: #fefefe;
   top: 80px;
   margin: auto;
   padding: 20px;

   width: 100%;
   height: 100%;
   border-bottom-right-radius: 15px;
}

.pagination a:hover:not(.active) {
   background-color: #ddd;
}

.thead-dark-hdr {
   background-color: #005086;
   color: white;
}

.navbar {
   background: #fff;
   border: none;
   border-radius: 0;
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)
}

.navbar-btn {
   box-shadow: none;
   outline: none !important;
   border: none
}

.line {
   width: 100%;
   height: 1px;
   border-bottom: 1px dashed #ddd
}

.sidebar-row {
   background: #005086;
   border-bottom-left-radius: 15px;
}

#sidebar {
   min-width: 250px;
   max-width: 250px;
   height: 100%;
   background: #005086;
   color: #fff;
   border-bottom-left-radius: 15px;
   transition: all 0.3s
}

#sidebar.active {
   margin-left: -250px
}

#sidebar .sidebar-header {
   padding: 20px;
   background: #005086
}

#sidebar ul.components {
   padding: 20px 0px;

}

#sidebar ul p {
   padding: 10px;
   font-size: 15px;
   display: block;
   color: #fff
}

#sidebar ul li a {
   padding: 10px;
   font-size: 1.1em;
   display: block;
   background: #005086
}

#sidebar ul li a:hover {
   color: #fff;
   background: #318fb5
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
   color: #fff;
   background: #318fb5
}

#sidebar ul li a[data-toggle="collapse"] {
   position: relative
}

.dropdown-toggle::after {
   display: block;
   position: absolute;
   top: 50%;
   right: 20px;
   transform: translateY(-50%)
}

ul ul a {
   font-size: 0.9em !important;
   padding-left: 30px !important;
   background: #318fb5
}

ul.CTAs {
   padding: 20px
}

ul.CTAs a {
   text-align: center;
   font-size: 0.9em !important;
   display: block;
   border-radius: 5px;
   margin-bottom: 5px
}

a.download,
a.download:hover {
   background: #318fb5;
   color: #fff
}

#content {
   width: 100%;
   padding: 20px;
   min-height: 100vh;
   transition: all 0.3s
}

.content-wrapper {
   padding: 15px
}

@media(max-width:768px) {
   #sidebar {
      margin-left: -250px
   }

   #sidebar.active {
      margin-left: 0px
   }

   #sidebarCollapse span {
      display: none
   }
}

/* Profile Picture update */
.pic-holder {
   text-align: center;
   position: relative;
   border-radius: 50%;
   width: 100px;
   height: 100px;
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
}

.pic-holder .pic {
   height: 100%;
   width: 100%;
   -o-object-fit: cover;
   object-fit: cover;
   -o-object-position: center;
   object-position: center;
}

.pic-holder .upload-file-block,
.pic-holder .upload-loader {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(90, 92, 105, 0.7);
   color: #f8f9fc;
   font-size: 12px;
   font-weight: 600;
   opacity: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.2s;
}

.pic-holder .upload-file-block {
   cursor: pointer;
}

.pic-holder:hover .upload-file-block {
   opacity: 1;
}

.pic-holder.uploadInProgress .upload-file-block {
   display: none;
}

.pic-holder.uploadInProgress .upload-loader {
   opacity: 1;
}

/* Snackbar css */
.snackbar {
   visibility: hidden;
   min-width: 250px;
   background-color: #333;
   color: #fff;
   text-align: center;
   border-radius: 2px;
   padding: 16px;
   position: fixed;
   z-index: 1;
   left: 50%;
   bottom: 30px;
   font-size: 14px;
   transform: translateX(-50%);
}

.snackbar.show {
   visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
   from {
      bottom: 0;
      opacity: 0;
   }

   to {
      bottom: 30px;
      opacity: 1;
   }
}

@keyframes fadein {
   from {
      bottom: 0;
      opacity: 0;
   }

   to {
      bottom: 30px;
      opacity: 1;
   }
}

@-webkit-keyframes fadeout {
   from {
      bottom: 30px;
      opacity: 1;
   }

   to {
      bottom: 0;
      opacity: 0;
   }
}

@keyframes fadeout {
   from {
      bottom: 30px;
      opacity: 1;
   }

   to {
      bottom: 0;
      opacity: 0;
   }
}

.badge {
   position: relative;
   top: -10px;
   left: 35px;
   border: 1px solid black;
   border-radius: 50%;
}

#settingTab .active {
   background: #005086;
   border-radius: 15px;
}

.pass_show {
   position: relative
}

.pass_show .ptxt {
   position: absolute;
   top: 50%;
   right: 10px;
   z-index: 1;
   color: #f36c01;
   margin-top: -10px;
   cursor: pointer;
   transition: .3s ease all;
}

.pass_show .ptxt:hover {
   color: #333333;
}



/* Imge crop section */

.image_area {
   position: relative;
}

.img {
   display: block;
   max-width: 100%;
}

.preview {
   overflow: hidden;
   width: 160px;
   height: 160px;
   margin: 10px;
   border: 1px solid red;
   border-radius: 50%;
}

.modal-lg {
   max-width: 1000px !important;
}

.overlay {
   position: absolute;
   bottom: 10px;
   left: 0;
   right: 0;
   background-color: rgba(255, 255, 255, 0.5);
   overflow: hidden;
   height: 0;
   transition: .5s ease;
   width: 100%;
}

.image_area:hover .overlay {
   height: 50%;
   cursor: pointer;
}

.text {
   color: #333;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
}

.cropper-crop-box,
.cropper-view-box {
   border-radius: 50%;
}

.cropper-view-box {
   box-shadow: 0 0 0 1px #39f;
   outline: 0;
}

.cropper-face {
   background-color: inherit !important;
}

.cropper-dashed,
.cropper-line {
   display: none !important;
}

.cropper-view-box {
   outline: inherit !important;
}

.cropper-point.point-se {
   top: calc(85% + 1px);
   right: 14%;
}

.cropper-point.point-sw {
   top: calc(85% + 1px);
   left: 14%;
}

.cropper-point.point-nw {
   top: calc(15% - 5px);
   left: 14%;
}

.cropper-point.point-ne {
   top: calc(15% - 5px);
   right: 14%;
}