RewriteEngine On    # Turn on the rewriting engine
RewriteRule ^lvrqsread lvrqsread.php [NC,L]
RewriteRule ^approvereject approvereject.php [NC,L]
RewriteRule ^revokelvrqs revokelvrqs.php [NC,L]
RewriteRule ^empread empread.php [NC,L]
RewriteRule ^empmyread empmyread.php [NC,L]
RewriteRule ^revokelvrqs revokelvrqs.php [NC,L]
RewriteRule ^approvereject approvereject.php [NC,L]